.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.list_item {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  margin-left: 30px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  padding: 6px 16px 6px 16px;
  background-color: #4d5ae5;
  color: #ffff;
  letter-spacing: 0.02em;
  line-height: 1.17;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

.button:active {
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #404bbf;
}
